<a href="#" ng-click="ctrl.logout()">Log Out</a>

{{ctrl.specificRestaurant.name}}

{{ctrl.specificRestaurant.address}}



<h5>Reviews:</h5>



    <div ng-repeat ="restaurant in ctrl.specificRestaurant.reviews">

            <h6>Content</h6>
            {{restaurant.content}}
            {{restaurant.id}}

        <button ng-if="restaurant.user_id == ctrl.user.id"  ng-click="ctrl.removeReview(ctrl.specificRestaurant.id,restaurant.id)">Delete
        </button>

    </div>




    <form ng-submit="ctrl.addReview(ctrl.specificRestaurant.id,ctrl.user.id)">

        <input type="text" ng-model="ctrl.createreview.content">
        <input ng-click="ctrl.getAllReviews()" type="submit" value="Submit">


    </form>
