<!-- <button ng-click="ctrl.selected_partial='restaurants'" type="button" name="button">Pizza Restaurants</button>

<button ng-click="ctrl.selected_partial='profile'" type="button" name="button">Edit My Profile</button> -->

<!-- <a href="#" ng-click="ctrl.logout()">Log Out</a> -->

<div class="pizzabox">

    <div class="anotherbox">

                <img class ="pizzapie"  src="http://content.mycutegraphics.com/graphics/food/pepperoni-pizza.png" alt="">


                <img ng-click="ctrl.selected_partial='restaurants'" class = "mushroom" src="http://content.mycutegraphics.com/graphics/food/mushroom-slice.png" alt="">

                <h3 ng-click="ctrl.selected_partial='restaurants'" class = "mushroom1text" >Pizza Restaurants</h3>

                <img ng-click="ctrl.selected_partial='profile'" class = "mushroom2" src="http://content.mycutegraphics.com/graphics/food/mushroom-slice.png" alt="">

                <h3 ng-click="ctrl.selected_partial='profile'" class = "mushroom2text" >Contact Us</h3>


                <img class = "mushroom3" src="http://content.mycutegraphics.com/graphics/food/mushroom-slice.png" alt="">

                <h3 ng-click="ctrl.selected_partial='about'" class = "mushroom3text" >About Us</h3>



    </div>





</div>
